@font-face {
  font-family: MR;
  src: url("../fonts/Muller-Regular.otf");
}

@font-face {
  font-family: MM;
  src: url("../fonts/Muller-Medium.otf");
}

@font-face {
  font-family: MB;
  src: url("../fonts/Muller-Bold.otf");
}

@font-face {
  font-family: BNB;
  src: url("../fonts/BebasNeue Bold.otf");
}

@font-face {
  font-family: BNL;
  src: url("../fonts/BebasNeue Light.otf");
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style: none;
  margin: 40px;
  border: 4px solid #242424;
  height: 90vh;
  width: 95.5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  margin: -1px;
  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-title {
  font-family: BNB, Arial, sans-serif;
  font-size: 5rem;
  white-space: nowrap;
}

.page-subtitle {
  font-family: BNL, Arial, sans-serif;
  font-size: 3rem;
  text-transform: lowercase;
  white-space: nowrap;
}

.page-content {
  font-family: MM, Arial, sans-serif;
  font-size: 1.3125rem;
  line-height: 1.875rem;
}

.item-step {
  font-family: BNB, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #EE7601;
}

.item-title {
  font-family: BNB, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  white-space: nowrap;
}

.item-description {
  font-family: MR, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #242424;
}

.item-description_red {
  font-family: MR, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #EE7601;
}

.button {
  font-family: MM, Aril, sans-serif;
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #EE7601;
  width: 16%;
  min-height: 48px;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #EE7601;
  -webkit-box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 #EE7601;
          box-shadow: 2px 2px 0 0 white, 4px 4px 0 0 #EE7601;
  white-space: nowrap;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
    background: black;
}

.button:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #EE7601;
  color: white;
}

.button:active {
  -webkit-tap-highlight-color: transparent;
}

.main-header {
  padding: 1.7% 2.2% 1.7% 2.2%;
  border-bottom: 2px solid #242424;
  position: relative;
  z-index: 11111111;
}

.main-header .main-header_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header .header-item_tel a {
  font-family: MB, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #242424;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-header .header-item_tel a:hover {
  color: #EE7601;
}

.main-header .header-item_mail a {
  font-family: MR, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #EE7601;
  text-decoration: underline;
}

.main-header .header-item_content {
  font-family: MR, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-header .header-logo_white {
  max-width: 94.38px;
  max-height: 64.4px;
  position: relative;
}

.main-header .main-header_item {
  position: relative;
  white-space: nowrap;
}

.main-header .main-header_item:first-child {
  margin-right: 6.8888889%;
}

.main-header .main-header_item:first-child::before {
  content: '';
  position: absolute;
  width: 21px;
  height: 20px;
  background: white;
  bottom: -55%;
  right: 62%;
}

.main-header .main-header_item:first-child::after {
  content: '';
  position: absolute;
  width: 21px;
  height: 20px;
  background: white;
  bottom: -55%;
  right: 0%;
}

.main-header .main-header_list {
  position: relative;
}

.main-header .main-header_list::before {
  content: '';
  display: block;
  position: absolute;
  width: 2.1%;
  height: 40px;
  background: white;
  z-index: 4;
  bottom: -55%;
  left: -2.3%;
}

.main-header .main-header_item:nth-of-type(2) {
  margin-right: 14.30556%;
  padding-top: 0.4%;
}

.main-header .main-header_item:nth-of-type(3) {
  margin-right: 10.20833%;
  padding-top: 0.2%;
}

.main-header .main-header_item:nth-of-type(4) {
  width: 7%;
  padding-top: 0.2%;
}

.main-header .item-button_left .header-item_content {
  color: #EE7601;
  text-decoration: underline;
  cursor: pointer;
}

.main-header .item-button_left .active-time {
  color: #242424;
  text-decoration: none;
}

.main-header #time-checkbox {
  display: none;
}

.main-header .time-checkbox_label {
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 20%;
}

.main-header .time-checkbox_label::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 40px;
  background: #EE7601;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-header .time-checkbox_label::after {
  content: '';
  position: absolute;
  width: 12px;
  height: 18px;
  background: #BA5D00;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  top: 11px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-header .time-checkbox_label span {
  position: absolute;
  width: 20px;
  height: 24px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: white;
  border: 2px solid #EE7601;
  z-index: 2;
  left: -6px;
  top: -4px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-header .time-checkbox_label span::before {
  content: '';
  top: -3px;
  left: -2px;
  position: absolute;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background: white;
  border: 2px solid #EE7601;
  z-index: 3;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-header #time-checkbox:checked + .time-checkbox_label span {
  -webkit-transform: translateY(19px);
      -ms-transform: translateY(19px);
          transform: translateY(19px);
}

.main-header #time-checkbox:checked + .time-checkbox_label span::before {
  top: 3px;
}

.main-header .item-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main-header .item-inner_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 10%;
}

.main-header .item-inner_left .header-social_item a {
  color: white;
  background: #EE7601;
  width: 20px;
  height: 20px;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 5px;
  position: relative;
}

.main-header .item-inner_left .header-social_item a::before {
  left: 10%;
  position: absolute;
}

.main-header .item-inner_left .header-social_item:first-child a::before {
  left: auto;
  bottom: -10%;
  right: -5%;
}

.main-bg1-slow {
  background-position: -3.7% 100% !important;
}

.main-bg1-middle {
  background-position: left 88% !important;
}

.main-bg1-fast {
  background-position: right 87% !important;
}

.main-bg2-slow {
  background-position: 13% 100% !important;
}

.main-bg2-middle {
  background-position: 15% 88% !important;
}

.main-bg2-fast {
  background-position: 85% 87% !important;
}

.main-bg3-slow {
  background-position: 25.5% 100% !important;
}

.main-bg3-middle {
  background-position: 27% 88% !important;
}

.main-bg3-fast {
  background-position: 75% 90% !important;
}

.main-bg4-slow {
  background-position: 38.9% 100% !important;
}

.main-bg4-middle {
  background-position: 39.2% 88% !important;
}

.main-bg4-fast {
  background-position: 69% 90% !important;
}

.main-bg5-slow {
  background-position: 54.6% 100% !important;
}

.main-bg5-middle {
  background-position: 54% 88% !important;
}

.main-bg5-fast {
  background-position: 57.5% 90% !important;
}

.main-bg6-slow {
  background-position: 69.6% 100% !important;
}

.main-bg6-middle {
  background-position: 67.7% 88% !important;
}

.main-bg6-fast {
  background-position: 50% 90% !important;
}

.main-bg7-slow {
  background-position: 83% 100% !important;
}

.main-bg7-middle {
  background-position: 81.7% 88% !important;
}

.main-bg7-fast {
  background-position: 43% 90% !important;
}

.main-bg8-slow {
  background-position: 101% 100% !important;
}

.main-bg8-middle {
  background-position: 96% 88% !important;
}

.main-bg8-fast {
  background-position: 20% 90% !important;
}

@-webkit-keyframes {}

@keyframes {}.bg-3 {
  background: url("../img/bg-fast.svg") no-repeat;
  width: 100%;
  height: 100%;
  -webkit-background-size: 850% 850%;
          background-size: 850%;
  -webkit-transition: all 1.5s linear;
  -o-transition: all 1.5s linear;
  transition: all 1.5s linear;
  position: relative;
  z-index: 10;
}

.bg-2 {
  background: url("../img/bg-middle.svg") no-repeat;
  width: 100%;
  height: 100%;
  -webkit-background-size: 880% 880%;
          background-size: 880%;
  -webkit-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  -webkit-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
          transition-delay: 0.2s;
  position: relative;
  z-index: 2;
}

.bg-1 {
  background: url("../img/bg-slow.svg") no-repeat;
  width: 100%;
  height: 100%;
  -webkit-background-size: 45% 45%;
          background-size: 45%;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transition-delay: 0.3s;
       -o-transition-delay: 0.3s;
          transition-delay: 0.3s;
  position: relative;
  z-index: 1;
}

main {
  /*background: url('../img/bg-fast.svg') no-repeat, 
                url('../img/bg-middle.svg') no-repeat,
                url('../img/bg-slow.svg') no-repeat;*/
  -webkit-transition: all 0.8s linear;
  -o-transition: all 0.8s linear;
  transition: all 0.8s linear;
  height: 80%;
}

.page-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4%;
  padding-left: 8%;
}

.page-1 .page-title {
  margin-bottom: 0.7%;
}

.page-1 .page-subtitle {
  margin-bottom: 2.2%;
}

.page-1 .page-content {
  margin-bottom: 3.8%;
}

.page-2 {
  padding-right: 8.61111%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  padding-top: 4%;
  padding-left: 8%;
}

.page-2 .page-2_left {
  margin-right: 21.5%;
}

.page-2 .page-2-content1 {
  font-family: MR, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  max-width: 440px;
  margin-bottom: 6.2%;
}

.page-2 .page-2_content2 {
  font-family: MB, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  max-width: 440px;
}

.header-slider-js {
  position: absolute;
  width: 100px;
  height: 100px;
}

.page-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  padding-top: 4%;
  padding-left: 8%;
}

.page-3 .button {
  margin-bottom: 11.5%;
  width: 60%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-3 .page-subtitle {
  margin-bottom: 18%;
}

.page-3 .page-small {
  font-family: MR, Arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
}

.page-3 .item-content {
  font-family: BNB, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-top: auto;
  padding-left: 20px;
}

.page-3 .item-content_red {
  font-family: BNB, Arial, sans-serif;
  font-size: 1rem;
  line-height: 0.875rem;
  color: #EE7601;
  padding-left: 20px;
}

.page-3 .page-3_left {
  margin-right: 10%;
}

.page-3 .page-3_right {
  overflow: hidden;
}

.page-3 .page-3_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  width: 75%;
  padding-left: 5.5%;
  max-height: 520px;
}

.page-3 .slick-list {
  max-height: 505px;
}

.page-3 .page-3_item {
  cursor: pointer;
  width: 40%;
  min-height: 174px;
  border: 3px solid #242424;
  -webkit-box-shadow: 3px 3px 0 0 white, 6px 6px 0 0 #242424;
          box-shadow: 3px 3px 0 0 white, 6px 6px 0 0 #242424;
  margin: 0 4.5%;
  margin-bottom: 33px;
  margin-top: 3px;
  background: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 1.8%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.owl-carousel .slick-prev, .page-8_right .slick-prev {
  outline: none;
  width: 0;
  height: 0;
  border: none;
  border-style: solid;
  border-width: 0 14px 16px 14px;
  border-color: transparent transparent #024242 transparent;
  display: block;
  background: none;
  top: 95px;
  bottom: auto;
  font-size: 0px;
  left: 0px;
  z-index: 11;
  position: relative;
  overflow: visible;
  padding: 0;
}

.owl-carousel .slick-prev::before, .page-8_right .slick-prev::before {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  left: -8px;
  border: 8px solid transparent;
  border-bottom: 9px solid white;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.owl-carousel .slick-prev:hover, .page-8_right .slick-prev:hover {
  border-bottom: 16px solid #EE7601;
}

.owl-carousel .slick-prev:hover::before, .page-8_right .slick-prev:hover::before {
  border-bottom: #EE7601;
}

.owl-carousel .slick-next, .page-8_right .slick-next {
  outline: none;
  width: 0;
  height: 0;
  border: none;
  border-style: solid;
  border-width: 16px 14px 0 14px;
  border-color: #024242 transparent transparent transparent;
  display: block;
  background: none;
  position: absolute;
  background: none;
  padding: 0;
  left: 0;
  font-size: 0;
  bottom: 105px;
}

.owl-carousel .slick-next::before, .page-8_right .slick-next::before {
  content: '';
  display: block;
  position: absolute;
  top: -13px;
  left: -8px;
  border: 8px solid transparent;
  border-top: 9px solid white;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.owl-carousel .slick-next:hover, .page-8_right .slick-next:hover {
  border-top: 16px solid #EE7601;
}

.owl-carousel .slick-next:hover::before, .page-8_right .slick-next:hover::before {
  border-top: #EE7601;
}

.slick-dots {
  position: absolute;
  bottom: 39%;
  font-size: 0;
  left: 1%;
  border: none;
  background: none;
}

.slick-dots li {
  border: none;
  background: none;
  width: 15px;
  height: 15px;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  border: 3px solid #242424 !important;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  display: block;
  margin: 20px 0;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  outline: none;
  cursor: pointer;
}

.slick-dots li button {
  border: none;
  background: none;
  outline: none;
}

.slick-dots .slick-active {
  border: none !important;
  background: #EE7601 !important;
}

.modal-items1 {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 111;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 16.9%;
  padding-left: 13.5%;
}

.modal-items1 .gradient-wrap {
  position: absolute;
  width: 70%;
  height: 20%;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.5)), color-stop(rgba(255, 255, 255, 0.6)), color-stop(rgba(255, 255, 255, 0.7)), color-stop(rgba(255, 255, 255, 0.9)), to(white));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9), white);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9), white);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9), white);
}

.modal-items1 .items-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 198px;
  margin-right: 19%;
}

.modal-items1 .items-list .item {
  font-family: BNB, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin-bottom: 14px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.modal-items1 .items-list .active-item {
  color: #EE7601;
  position: relative;
}

.modal-items1 .items-list .active-item::before {
  content: '';
  left: -20px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 8px;
  border-color: transparent transparent transparent #ee7701;
}

.modal-items1 .item-right-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -46px;
  height: 61vh;
  width: 55% !important;
  margin-right: 50px;
  position: relative;
}

.modal-items1 .item-right-list .item-right {
  width: 97%;
  margin: 0 23px;
  margin-bottom: 2.4%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.modal-items1 .item-right-list .item-right div {
  width: 90%;
}

.modal-items1 .item-right-list .item-right div:first-of-type {
  margin-right: 46px;
}

.modal-items1 .item-right-list .item-right_img {
  min-height: 180px;
  border: 3px solid #242424;
  -webkit-box-shadow: 3px 3px 0 0 white, 6px 6px 0 0 #242424;
          box-shadow: 3px 3px 0 0 white, 6px 6px 0 0 #242424;
  margin-bottom: 20px;
}

.modal-items1 .item-right-list .item-right_content {
  font-family: BNB, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 16px;
}

.modal-items1 .item-right-list .item-right_content_red {
  font-family: BNB, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #EE7601;
}

.modal-items1 .modal-close {
  font-family: MR, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #EE7601;
  border: none;
  background: none;
  text-decoration: underline;
  display: inline;
  text-align: left;
  position: relative;
  outline: none;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  position: relative;
}

.modal-items1 .modal-close::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #EE7601;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 45%;
  right: -25%;
}

.modal-items1 .modal-close::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #EE7601;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 45%;
  right: -25%;
}

.mCSB_scrollTools .mCSB_draggerRail {
  background: #595959 !important;
}

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #EE7601 !important;
  position: relative;
}

.mCustomScrollBox {
  width: 100%;
}

.page-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  padding-top: 4%;
  padding-left: 8%;
}

.page-4 .page-4_left {
  padding-top: 4.5%;
  margin-right: 13%;
}

.page-4 .page-4_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -5%;
  width: 90%;
}

.page-4 .page-4-list_item {
  width: 40%;
  margin: 2.5% 2.5%;
}

.page-4 .item-step {
  margin-bottom: 4.5%;
}

.page-4 .item-title {
  margin-bottom: 7%;
}

.page-4 .item-description {
  width: 98%;
}

.page-4 .item-description_red {
  margin-top: 4%;
  width: 95%;
}

.page-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  padding-top: 4%;
  padding-left: 8%;
}

.page-5 .page-title {
  margin-bottom: 6.5%;
}

.page-5 .page-5_subtitle {
  font-family: MM, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  width: 80%;
  margin-bottom: 3.5%;
}

.page-5 .button {
  width: 36%;
}

.page-5 .item-description {
  width: 63%;
}

.page-5 .item-title {
  margin-bottom: 1.3%;
}

.page-5 .page-5_item {
  margin-bottom: 4%;
}

.page-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  padding-top: 4%;
  padding-left: 8%;
}

.page-6 .slick-dots {
  left: 0.7%;
}

.page-6 .page-6_left {
  margin-right: 10%;
}

.page-6 .page-6_right {
  overflow: hidden;
}

.page-6 .page-6_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 5.5%;
}

.page-6 .page-6_item {
  width: 40%;
  margin: 0 3.5%;
  margin-bottom: 4.2%;
}

.page-6 .item-title {
  margin-bottom: 5%;
}

.page-6 .item-description {
  width: 80%;
}

.page-6 .owl-carousel .owl-nav button.owl-prev {
  top: -335%;
}

.page-6 .owl-carousel .owl-nav button.owl-next {
  bottom: 183%;
}

.page-6 .header-slider_dots {
  bottom: 270%;
}

.page-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  display: none;
  padding-top: 4%;
  padding-left: 8%;
}

.page-7 .page-7_right {
  overflow: hidden;
  margin-top: -3%;
}

.page-7 .page-7_left {
  margin-right: 12.4%;
}

.page-7 .page-7_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 5.5%;
}

.page-7 .company-name {
  font-family: BNB, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
}

.page-7 .page-7_item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2.5% 3%;
  width: 30%;
  cursor: pointer;
}

.page-7 .page-7_item .item-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-7 .page-7_item .page-7_img {
  width: 102%;
  margin-bottom: 9%;
  -webkit-box-shadow: 3px 3px 0 0 white, 6px 6px 0 0 #242424;
          box-shadow: 3px 3px 0 0 white, 6px 6px 0 0 #242424;
}

.page-7 .page-7_item .inner-img {
  max-width: 80px;
  max-height: 40px;
  margin-right: 11%;
}

.page-7 .header-slider_dots {
  bottom: 356%;
}

.page-7 .owl-carousel .owl-nav button.owl-prev {
  top: -435%;
}

.page-7 .owl-carousel .owl-nav button.owl-next {
  bottom: 265%;
}

.absolute-title {
  position: absolute;
  font-family: BNB, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #EE7601;
  bottom: 0%;
  right: 35%;
  display: none;
}

.page-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: none;
  padding-top: 4%;
  padding-left: 8%;
}

.page-8 .page-title {
  margin-bottom: 7.2%;
}

.page-8 .slick-list {
  overflow: visible;
  margin: 0 -60px;
}

.page-8 .slick-slide {
  margin: 0 60px;
}

.page-8 .page-8_left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 20.2%;
}

.page-8 .page-8_right {
  width: 41%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 6%;
  padding-bottom: 1%;
  overflow: hidden;
}

.page-8 .page-8_right img {
  max-width: 408.19px;
  max-height: 395.04px;
}

.page-8 .page-8_subtitle {
  font-family: MM, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin-bottom: 13%;
  max-width: 404px;
}

.page-8 .page8-tel {
  font-family: MM, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #242424;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.page-8 .page8-tel:hover {
  color: #EE7601;
}

.page-8 .page8-mail {
  font-family: MR, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #EE7601;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-bottom: 10%;
}

.page-8 .page8-mail:hover {
  text-decoration: underline;
}

.page-8 .page8-politica {
  font-family: MR, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #595959;
  text-decoration: underline;
  margin-bottom: 10%;
}

.page-8 .kdm-logo {
  max-width: 45.61px;
  max-height: 40.4px;
}

.page-8 .developer-cont a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.page-8 .developer-cont a img {
  margin-right: 4%;
}

.page-8 .developer-cont .item-description {
  color: #242424;
}

.page-8 .developer-cont .item-description_red {
  color: #EE7601;
  font-size: 0.875rem;
}

.page-8 .slick-prev {
  left: auto;
  right: -108%;
}

.page-8 .slick-next {
  left: auto;
  right: 2%;
}

.page-8 .slick-dots {
  left: auto;
  right: 3.5%;
  bottom: 45%;
}

.page-8 .feedback-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-8 .feedback-form input, .page-8 .feedback-form textarea {
  background: transparent;
  border: 2px solid #DDDDDD;
  outline: none;
  font-family: MM, Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 20px;
}

.page-8 .feedback-form input:focus, .page-8 .feedback-form textarea:focus {
  border: 2px solid #595959;
}

.page-8 .feedback-form input::-webkit-input-placeholder, .page-8 .feedback-form textarea::-webkit-input-placeholder {
  color: #242424;
}

.page-8 .feedback-form textarea {
  margin-bottom: 9%;
  height: 180px;
}

.page-8 .feedback-form .submit-button {
  background: transparent;
  width: 220px;
}

.page-8 .feedback-form .submit-button:hover {
  background: #EE7601;
  color: white;
}

.map {
  width: 418px;
  height: 454px;
  -webkit-box-shadow: 6px 6px 0 0 white, 9px 9px 0 0 #242424;
          box-shadow: 6px 6px 0 0 white, 9px 9px 0 0 #242424;
}

.showM {
  opacity: 1;
  z-index: 111111;
}

.closeM {
  opacity: 0;
  z-index: -1111;
}

.modalM {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 16.9%;
  padding-left: 13.5%;
}

.modalM .owl-carousel .slick-prev {
  bottom: 0;
}

.modalM .owl-carousel .slick-next {
  bottom: 0%;
}

.modalM .slick-dots {
  bottom: 15%;
  left: 0.6%;
}

.modal-overlay {
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.95);
  z-index: 11;
  position: absolute;
  top: 0;
  left: 0%;
  display: none;
}

.company-slide {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  overflow: hidden;
  padding-left: 164px;
  padding-bottom: 20px;
}

.slide-right {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 4%;
}

.slide-right .slide-company-name {
  font-family: BNB, Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.875rem;
}

.slide-right .modal-close {
  font-family: MR, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #EE7601;
  border: none;
  background: none;
  text-decoration: underline;
  display: inline;
  text-align: left;
  position: relative;
  outline: none;
}

.slide-right .modal-close::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #EE7601;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 45%;
  right: 60%;
}

.slide-right .modal-close::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 2px;
  background: #EE7601;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 45%;
  right: 60%;
}

.slide-img {
  -webkit-box-shadow: 3px 3px 0 0 white, 6px 6px 0 0 #242424;
          box-shadow: 3px 3px 0 0 white, 6px 6px 0 0 #242424;
}

.slide-left {
  width: 57%;
  margin-right: 13%;
}

.slide-bank {
  max-width: 80px;
  max-height: 40px;
  margin-bottom: 14%;
}

.slide-company-name {
  max-width: 250px;
  margin-bottom: 64%;
}

.main-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: auto;
  padding-bottom: 1%;
}

.main-footer .footer-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main-footer .footer-item {
  font-family: MB, Arial, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer .mdi {
  border: none;
  background: white;
  font-size: 17px;
  margin: 0 8.8px;
  outline: none;
  position: relative;
  z-index: 10;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-footer .mdi-arrow-left {
  opacity: 0;
  z-index: -1;
}

.main-footer .footer-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 3%;
  padding-right: 30px;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-footer .footer-pagination .footer-pag_item {
  display: block;
  width: 10px;
  height: 10px;
  border: 3px solid #242424;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.main-footer .footer-pagination .this-pagination {
  width: 40px;
  height: 10px;
  border: none;
  background: #242424;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.animation-1 {
  -webkit-animation: slowContent 1s linear forwards;
          animation: slowContent 1s linear forwards;
}

.animation-2 {
  -webkit-animation: slowContent 1.2s linear forwards;
          animation: slowContent 1.2s linear forwards;
}

.animation-3 {
  -webkit-animation: slowContent 1.4s linear forwards;
          animation: slowContent 1.4s linear forwards;
}

.animation-4 {
  -webkit-animation: slowContentRight 1.4s linear forwards;
          animation: slowContentRight 1.4s linear forwards;
}

.animation-5 {
  -webkit-animation: slowContent 1.6s linear forwards;
          animation: slowContent 1.6s linear forwards;
}

@-webkit-keyframes slowContent {
  from {
    opacity: 0;
    -webkit-transform: translate(-1000px);
            transform: translate(-1000px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes slowContent {
  from {
    opacity: 0;
    -webkit-transform: translate(-1000px);
            transform: translate(-1000px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes slowContentRight {
  from {
    opacity: 0;
    -webkit-transform: translate(1000px);
            transform: translate(1000px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes slowContentRight {
  from {
    opacity: 0;
    -webkit-transform: translate(1000px);
            transform: translate(1000px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes slideOutUp {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media screen and (min-width: 1680px) {
  .page-3 .slick-dots {
    left: 0.7%;
  }
  .page-3 .page-3_list {
    max-height: 548px;
  }
  .page-3 .slick-list {
    max-height: 548px;
  }
  .page-3 .page-3_item {
    width: 35%;
  }
}

@media screen and (min-width: 1920px) {
  .main-header .time-checkbox_label span {
    left: -4px;
    top: -2px;
  }
  .page-3 .page-3_item {
    width: 35%;
  }
  .modalM, .modal-items1 {
    padding-top: 7.9%;
  }
  .modalM .owl-carousel .owl-nav button.owl-prev, .modal-items1 .owl-carousel .owl-nav button.owl-prev {
    top: -550%;
  }
  .modalM .owl-carousel .owl-nav button.owl-next, .modal-items1 .owl-carousel .owl-nav button.owl-next {
    bottom: 220%;
  }
  .modalM .header-slider_dots, .modal-items1 .header-slider_dots {
    bottom: 320%;
  }
  .page-8 .page-8_left {
    margin-right: 28.2%;
  }
  .map {
    width: 560px;
  }
  .page-8 .slick-dots {
    right: 4.5%;
  }
  .page-8 .slick-next {
    right: 3.8%;
  }
  .page-3 .page-3_list {
    max-height: 629px;
    overflow: hidden;
  }
  .page-3 .slick-list {
    max-height: 629px;
  }
  .page-3 .page3-img {
    margin-bottom: 1%;
  }
  .page-7 .owl-carousel .slick-next {
    bottom: 50%;
  }
  .page-7 .owl-carousel .slick-dots {
    bottom: 61%;
    left: 0.7%;
  }
  .modalM .owl-carousel .slick-prev {
    top: 100px;
  }
  .modalM .owl-carousel .slick-next {
    bottom: 15%;
  }
  .modalM .slick-dots {
    bottom: 30%;
    left: 0.4%;
  }
  .absolute-title {
    right: 60%;
  }
}

@media screen and (max-width: 1366px) {
  .page-4 .page-4-list_item {
    width: 45%;
  }
  .page-4 .page-4_left {
    margin-right: 10%;
  }
  .page-4 .item-description {
    width: 100%;
  }
  .main-header .main-header_item:first-child {
    margin-right: 2.88888%;
  }
  .main-header .main-header_item:nth-of-type(3) {
    margin-right: 8.20833%;
  }
  .page-8 .feedback-form textarea {
    height: 115px;
  }
  .page-8_right .slick-next {
    bottom: 150px;
  }
  .map {
    height: 365px;
  }
  .page-3 .page-3_list {
    max-height: 500px;
  }
  .page-3 .slick-list {
    max-height: 410px;
  }
  .page-3 .page-3_item {
    width: 35%;
  }
  .page-6 .page-6_list {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 1280px) {
  .page-8 .page-8_left {
    margin-right: 15.2%;
  }
  .map {
    height: 365px;
    width: 380px;
  }
  .modalM .owl-carousel .slick-prev {
    top: 60px;
  }
}

@media screen and (max-width: 1024px) {
  .page-7 .page-7_item {
    width: 40%;
  }
  .page-7 .page-7_left {
    margin-right: 4.4%;
  }
  .modalM .slick-dots {
    bottom: 11%;
    left: 0.8%;
  }
  .page-7 .company-name {
    font-size: 0.675rem;
  }
  .absolute-title {
    font-size: 1.2rem;
  }
  .page-7 .page-7_item .item-inner {
    background: white;
  }
  .page-6 .page-6_list {
    margin-bottom: 6%;
  }
  .page-6 .item-description {
    width: 90%;
    line-height: 1.025rem;
  }
  .page-6 .page-6_item {
    margin-bottom: 2.2%;
    width: 50%;
    margin: 0 0;
  }
  .page-6 .slick-list {
    padding-bottom: 27px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .page-6 .slick-next {
    bottom: 50px;
  }
  .page-6 .slick-prev {
    top: 70px;
  }
  .page-6 .slick-dots {
    left: 1%;
    bottom: 32%;
  }
  .page-4 .page-4_list {
    width: 100%;
  }
  .item-title {
    font-size: 1.3rem;
  }
  .main-header .time-checkbox_label span {
    left: -4px;
    top: -2px;
  }
  .page-3 .item-content, .item-description {
    font-size: 0.775rem;
  }
  .item-description_red {
    font-size: 0.65rem;
  }
  .page-4 .page-subtitle {
    width: 95%;
    white-space: normal;
  }
  .main-footer .footer-item {
    line-height: 2rem;
  }
  .modal-items1 .items-list {
    margin-right: 5%;
  }
  .page-content {
    font-size: 1.1125rem;
    line-height: 1.675rem;
  }
  .page-title {
    font-size: 4rem;
  }
  .page-subtitle {
    font-size: 3rem;
  }
  .main-header .main-header_item:first-child::after {
    height: 24px;
  }
  .page-3 .page-3_item {
    width: 40%;
  }
  .modal-items1 .item-right-list .item-right_img {
    min-height: auto;
  }
  body {
    width: 93.5%;
  }
  .button {
    width: 25%;
  }
  .main-header .header-item_content, .main-header .header-item_tel a, .main-header .header-item_mail a {
    font-size: 0.8rem;
  }
  .main-header .main-header_item:nth-of-type(2) {
    margin-right: 8.30556%;
  }
  .page-2 .page-2_left {
    margin-right: 8.5%;
  }
  .page-8 .page-8_left {
    margin-right: 6.2%;
  }
  .page-8 .slick-next {
    right: 0;
  }
  .page-8 .slick-dots {
    right: 2%;
  }
  .map {
    width: 300px;
  }
}
